@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/* should be use with VencordStuff/css/GuildbarRevert.css
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
*/
:root {
    --bg-color-dark: #1e1f22;
    --custom-app-top-bar-height: 0px;
    /*old --background-code :*/
    --bg-embed: color-mix(in oklab, hsl(234.935 calc(1*85.556%) 64.706% /0.0784313725490196) 100%, hsl(var(--custom-theme-base-color-hsl, 0 0% 0%) / 0.0784313725490196) var(--custom-theme-base-color-amount, 0%));
    --background-code: var(--background-surface-high);
    --background-message-hover: linear-gradient(90deg,var(--bg-embed),transparent);
}
/* switch button settings*/
.vc-switch-container {
    border-radius: 28px !important;
}
/**/
[class*="tree_ef3116"] {
    background-color: var(--bg-color-dark) !important;
}
/**/
[class*="bar_c38106"] {
    background-color: var(--bg-color-dark) !important;
}
/*change the color of the guilds list background*/
[class*="sidebar__5e434"] {
    background-color: var(--bg-color-dark) !important;
}
/*remove strange looking bar bottom left*/
[class*="sidebar__5e434"]::after {
    /*height: 0px;*/
    opacity: 0;
}


/*Embed*/
article[class*="embed__623de"] {
    background-color: var(--bg-embed);
}

/*Usernames*/
span[class*="username_c19a55"] {
    font-size: 18px;
}

/*le titre en haut (nom du serveur)*/
div[class*="title_edbb22"]{
    display: none;
}

[class*="base__5e343"]::after {
    background-color: var(--bg-color-dark) !important;
}
/*add a shadow to top as well as bottom of guild list*/
nav[class*="guilds__5e434"] {
    margin-bottom: 0px !important;
    margin-top: 27px !important;
    mask: linear-gradient(to bottom,
        rgba(0, 0, 0, 0) 0%,
        var(--bg-color-dark) 10px,
        var(--bg-color-dark) calc(100% - 40px),
        rgba(0, 0, 0, 0) 100%
    );
}

/*change the police for all text*/
body {
    font-family: "Nunito" !important;
}

/*Codeblock*/
code {
    font-family: "JetBrains Mono";
    font-weight: 200;
}
