@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* should be use with VencordStuff/css/GuildbarRevert.css
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
*/
:root {
    /*--button-secondary-background: #414141 !important;*/
    --bg-color-dark: #1e1f22;
    --custom-app-top-bar-height: 0px;
}
/* switch button settings*/
.vc-switch-container {
    border-radius: 28px !important;
}
/**/
[class*="tree_ef3116"] {
    background-color: var(--bg-color-dark) !important;
}
/**/
[class*="bar_c38106"] {
    background-color: var(--bg-color-dark) !important;
}
/**/
[class*="sidebar__5e434"] {
    background-color: var(--bg-color-dark) !important;
}
/*remove strange looking bar bottom left*/
[class*="sidebar__5e434"]::after {
    /*height: 0px;*/
    opacity: 0;
}

[class*="base__5e343"]::after {
    background-color: var(--bg-color-dark) !important;
}
/*add a shadow to top as well as bottom of guild list*/
nav[class*="guilds__5e434"] {
    margin-bottom: 0px !important;
    margin-top: 27px !important;
    mask: linear-gradient(to bottom,
        rgba(0, 0, 0, 0) 0%,
        var(--bg-color-dark) 10px,
        var(--bg-color-dark) calc(100% - 40px),
        rgba(0, 0, 0, 0) 100%
    );
}

/*change the police*/
body {
    font-family: "Nunito" !important;
}

/*@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
code {
    font-family: "JetBrains Mono";
}*/
